/* container da página */
.pokemon-detail {
    padding: 1rem;
}

/* card principal */
.card {
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: white;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* nome */
.name {
    text-transform: capitalize;
    font-size: 2.0rem;
}

/* número */
.number {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0.7;
    color: black;
}

/* imagem */
.card img {
    display: block;
    margin: 1rem auto;
    width: 150px;
}

/* tipos */
.types {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

/* tipo individual */
.type {
    padding: .4rem .8rem;
    border-radius: 1rem;
    color: white;
    font-size: .8rem;
}

/* abas */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.tabs button {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* conteúdo */
.tab-content {
    background: white;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

/* esconder */
.hidden {
    display: none;
}

/* stats */
.stat {
    margin-bottom: .5rem;
}

.stat-info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.bar {
    background: #ddd;
    height: 10px; 
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
}

.fill {
    display: block;
    min-width: 5%;
    background: #4caf50;
    border-radius: inherit;
    height: 100%;
    width: 0;
    transition: width 0.8s ease;
}

/* cores por tipo */
.grass .fill {
    background: #77c850;
}

.fire .fill {
    background: #ee7f30;
}

.water .fill {
    background: #678fee;
}

.electric .fill {
    background: #f7cf2e;
}

.bottom {
    background: white;
    color: black;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card.grass {
    background-color: #77c850;
}

.card.fire {
    background-color: #ee7f30;
}

.card.water {
    background-color: #678fee;
}

.card.electric {
    background-color: #f7cf2e;
}

.card.ice {
    background-color: #98d5d7;
}

.card.ground {
    background-color: #dfbf69;
}

.card.flying {
    background-color: #a98ff0;
}

.card.poison {
    background-color: #a040a0;
}

.card.fighting {
    background-color: #bf3029;
}

.card.psychic {
    background-color: #f65687;
}

.card.dark {
    background-color: #725847;
}

.card.rock {
    background-color: #b8a137;
}

.card.bug {
    background-color: #a8b720;
}

.card.ghost {
    background-color: #6e5896;
}

.card.steel {
    background-color: #b9b7cf;
}

.card.dragon {
    background-color: #6f38f6;
}

.card.fairy {
    background-color: #f9aec7;
}

.card.normal {
    background-color: #a6a877;
}

.top {
    padding: 1rem;
    text-align: center;
}

.top img {
    width: 150px;
}

.back {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: rgba(230, 227, 227, 0.5);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

.tabs button:hover {
    color: black;
}
